/* hero section start */
.hero-banner {
    height: 75vh;
}

.swiper-slide {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.swiper-btn:after {
    font-size: 20px !important;
}

.swiper-btn {
    height: 45px !important;
    width: 45px !important;
    color: var(--quaternary-color) !important;
    border: 1px solid var(--quaternary-color);
    transition: all 0.3s ease-in-out;
}

.swiper-btn:hover {
    background-color: var(--secondary-color);
}

.shadow-effect {
    position: relative;
}

.shadow-effect {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #367fcc2a;
    z-index: 100;
    top: 0;
    left: 0;
}

/* hero section end */

@media (max-width: 768px) {
    .hero-banner {
        height: 40vh;
    }
}